body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    border-bottom: solid 5px black;
    position: sticky;
    top: 0;
    background-color: white;
}

.Links {
    display: flex;
    list-style: none;
    gap: 1.25em;
    justify-content: end;
    align-items: end;
    padding: 20px;
}

section {
    height: 100vh;
}

.FirstSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SecondSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ThirdSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SectionText {
    width: 50%;
}

.SectionImage {
    width: 50%;
}